*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  max-width: 1350px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing:  0 2px 4px 6px #08a05ca4;
  padding: 10px 15px;
  box-sizing: border-box;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .2);
}

/*-----------------HEADER----------------*/

header {
  width: 97%;
  min-height: 100px;
  max-width: 1321px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 5px 10px #08a05c50;
  margin-top: -10px;
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: #08a05c;
}

li {
  list-style: none;
}

header ul {
  gap: 22px;
  display: flex;
  padding: 0;
  margin: 0;
}

header ul li {
  padding: 0 1rem;
}

header ul li a {
  font-weight: bold;
} 

header .cart {
  position: relative;
  cursor: pointer;
}

header .cart box-icon {
  width: 45px;
  height: 45px;
  margin-top: 15px;
}

header .cart span {
  position: absolute;
  top: 0rem;
  right: -0rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0;
  font-size: 1rem;
  font-weight: 700;
  background-color: crimson;
}

/*----------------INCIO--------------------*/

.inicio {
  width: 100;
  margin: 0 auto;
  padding-top: 9rem;
}

.inicio h1 {
  margin-top: 900px;
  font-size: 2.5rem;
  color: #08a05c; 
  padding-top: 10rem ;
}

#title2 {
  padding: 0;
}

.inicio h1:last-child {
  padding:0 ;
}

.inicio img {
  width: 1000px;
  max-width: 20%;
  background-color: blue;
}
#portada {
  width: 100%;
}


/*----------------- PRODUCTOS ----------------*/

.title {
  font-size: 2rem;
  padding: 10rem 0 0 0 ;
  color: #08a05c;
}

.productos {
  padding: 5rem 1rem;
  margin: -3rem auto -2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: -10rem 2rem;
  box-sizing: border-box;
}
.producto {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .2);
  border: 6px solid transparent;
  border-radius: 5px;
  padding-bottom: 15px;
}
.producto:hover {
  border: 6px solid #08a05c55;
}
.producto__img img {
  width: 310px;
}
.producto__footer{
  padding: 1rem;
}
.producto__footer h1 {
  font-size: 600;
  font-size: 1.5rem;
  color: #1a202c;
  font-family: Arial, Helvetica, sans-serif;
}
.producto__footer p {
  font-weight: 700;
  color: rgba(0, 0, 0, .555);
  text-transform: uppercase;
  font-size: 18px;
  font-family: sans-serif;
  margin-top: 10px;
}

.producto__footer .price {
  font-size: 2rem;
  color: #2a303f;
  font-size: 1.5rem;
}

.producto .button {
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 3rem;
  padding: 0 1rem;
}
.button .btn {
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.button button {
  background-color: #3033d3;
  max-width: 250px;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}
.button div {
  background-color: #08a05c;
  display: grid;
  align-items: center;
  margin-left: -2rem;
  border-radius: 5px;
}
.button div a {
  color: white;
}
.button div a:hover {
  color: white;
}

/*------------CARRITO-------------*/
.carritos {
  padding-bottom: 10px;
  position: fixed;
  display: flex;
  justify-content: center;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, .6);
  z-index: 2;
  padding-bottom: 5rem;
  visibility: hidden;
}

.carrito {
  margin-left: 0;
  position: fixed;
  border-radius: 6px;
  top: 10%;
  left: 20%;
  background-color: red;
  transform: translate(-50%, -50%);
  transform: scale(1);
  width: 60%;
  height: 80%;
  overflow-x: scroll;
  transition: all 300ms ease-in-out;
  background-color: white;
  opacity: 0;
}

.carritos.show {
  visibility: visible;
}

.carrito.show {
  opacity: 1;
  visibility: visible;
}

.carrito h2 {
  text-align: center;
  font-size: 2rem;
}

.carrito__close {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: all 300ms ease-in-out;
  margin: .5rem 0 0 1rem;
}

.carrito__close box-icon {
  display: flex;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: all 300ms ease-in-out;
  margin: 3rem 0 0 2rem;
}

.carrito__close box-icon:hover {
  fill: crimson;
}

.carrito__center {
  width: 90%;
  margin: 0 auto;
  border: 1px solid red;
}

.carrito__item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0 1px 10px #08a05c;
  border-radius: 0px;
}

.carrito__item img {
  width: 9rem;
  margin-left: 20px;
}

.carrito__item h3 {
  margin-top: 1.5rem;
  font-family: georgia;
  font-weight: 600;
  font-size: 1rem;
}

.carrito__item .price {
  color: #1a202c;
  font-size: 2rem;
  font-weight: bold;
  text-align: start;
  margin-left: -1rem;
  margin-left: 3px;
}

.carrito__item box-icon {
  fill: #08a05c;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-top:  .3rem;
}

.carrito__item .cantidad {
  font-size: 2rem;
  font-weight: bold;
}

.carrito__item .remove__item box-icon {
  width: 60px;
  height: 80px;
  fill: crimson;
  margin-top: 3rem;
  align-self: center;
}

.carrito__footer {
  text-align: center;
  margin-bottom: 3rem;
}

.carrito__footer {
  font-size: 2rem;
  font-weight: 700s;
  letter-spacing: 1px;
}

.carrito__footer .btn {
  display: inline-block;
  padding: .3rem 1rem;
  font-size: 1.2rem;
  background-color: #08a05c;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.carrito__footer .btn:hover {
  background-color: #0f5c39;
  color: white;
}

/*------------- PRODUCTOS DETALLES ----------------*/

.detalles {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: -50px auto;
  padding: 13rem 1rem 0 1rem;
  box-sizing: border-box;
}

.detalles h2 {
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  font-family: sans-serif;
}

.detalles .price{
  margin-top: 40px;
  font-size: 2.3rem;
  font-weight: bold;
  font-family: sans-serif;
  width: 100%;
  color: #08a05c;
}

.detalles #nuevo {
  font-family: sans-serif;
}

.detalles img{
  min-height: 100px;
  height: 800px;
  object-fit: contain;
  margin-top: -30rem;
}

#img__detalle {
  min-width: 300px;
  height: 400px;
  object-fit: contain;
  margin-top: 0rem;
}

.detalles #input {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 2rem;
  fill: red;
}

.detalles .description {
  font-size: 60px;
  max-width: 1300px;
  width: 100%;
  letter-spacing: 1px;
  color: #5f5d5d;
  margin: 0 auto;
  font-weight: 500;
}

.detalles .description b {
  font-size: 1.4rem;
  color: #30333a;
  font-family: monospace ;
}

.detalles button {
  max-width: 250px;
  margin: 0 0  0 0 0;
  padding: 1rem 1rem;
  border: none;
  outline: 0;
  background-color: #3033d3;
  font-size: 1.6rem;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.detalles .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 1rem;
  max-width: 230px;
  height: 80px;
}

.detalles .grid > .nuevo, .size {
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1.2rem;
  align-items: center;
  font-weight: 600;
  color: white;
}

.detalles .grid > .size {
  align-self: center;
  font-size: 1rem;
}

#select__detalles {
  font-size: 1.2rem;
}

.detalles .grid .nuevo {
  background-color: #08a05c;
  border: 1px solid transparent;
  align-self:  center;
}

.detalles .grid .size {
  background-color: #f1365b;
  display: flex;
}

.detalles .grid .size select {
  border: none;
  outline: 0;
  font-size: 2rem;
  background-color: #f1265b;
  color: white;
  cursor: pointer;
}

.detalles .description {
  font-size: 1.1rem;
}

.detalles input {
  max-width: 700px;

}

.relacionados {
  text-align: center;
  background-color: #2e2e2e;
  color: white;
  max-width: 350px;
  width: 100%;
  margin: 9rem auto;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.producto__detalles {
  background-color: red 
}

#productos__detalles {
  margin-top: -10rem;
}

/*----------------- MEDIA ----------------*/

@media only screen and (max-width: 1000px) {
  .carrito__item {
    width: 92%;
  }
}

@media only screen and (max-width: 700px) {
  .carrito {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .carrito__item h3 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  header ul {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .carrito__item {
    width: 100%;
  }
  .carritos {
    background-color: black;
  }

  .carrito {
    margin-bottom: 100px;
  }
}





